{
  "env": {
    "dev": {
      "presets": [["env", {"modules": false, "debug": true}], "react"]
    },
    "test": {
      "presets": [["env", {"modules": false, "debug": true}], "react"],
      "plugins": ["transform-class-properties", "transform-es2015-modules-commonjs"]
    },
    "production": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": ["last 2 versions"]
          },
          "modules": false,
          "debug": true
        }],
        "react",
        "minify"
      ],
      "plugins": [
        "transform-class-properties"
      ]
    }
  }
}
